section {
  position: relative;
  display: inline-block;
  margin-left: 40%;
  width: 500px;
  bottom: 180px;
  text-shadow:  1.5px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 40px;
  font-family: "Josefin Slab", serif;
  font-weight: bolder;
}

h1 {
  padding-right: 10px;
}

h3 {
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
}

h4, h5 {
  text-align: left;
  position: relative;
  margin-left: 15%;
}

.library-title {
  position: relative;
  display: inline-block;
  margin-left: 15%;
  width: 40%;
  margin-top: 0px;
}

main {
  border: 1px solid red;
  margin-top: 0px;
  position: relative;
  bottom: 100px;
}